* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.home {
  background-color: rgb(75, 75, 143);
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.home h1 {
  color: rgb(221, 134, 20);
  font-size: 100px;
  font-family:sans-serif;
}

.home h3 {
  color: azure;
}

.footerr {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}